<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2014-2017 Groupon, Inc
  ~ Copyright 2014-2017 The Billing Project, LLC
  ~
  ~ The Billing Project licenses this file to you under the Apache License, version 2.0
  ~ (the "License"); you may not use this file except in compliance with the
  ~ License.  You may obtain a copy of the License at:
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.uengine.garuda.killbill.invoice.repository.InvoiceExtRepository">
    <select id="selectVersionByProductId" parameterType="java.lang.String" resultType="org.uengine.garuda.killbill.invoice.model.ProductDaoVersion">
        SELECT * FROM product_version
        WHERE product_id = #{product_id}
    </select>

    <select id="selectLastSubscriptionExt" parameterType="java.lang.String" resultType="org.uengine.garuda.killbill.invoice.model.SubscriptionEventsExt">
        SELECT * from subscription_events_ext where id =
        (SELECT max(id) FROM subscription_events_ext
        where
        subscription_id = #{subscription_id}
        );
    </select>

    <select id="selectOrganizationFromAccountId" parameterType="java.lang.String" resultType="org.uengine.garuda.killbill.invoice.model.Organization">
        SELECT C.* FROM
        (SELECT id,tenant_record_id FROM accounts WHERE id = #{id})A
        LEFT OUTER JOIN

        (SELECT record_id,id FROM tenants)B

        ON B.record_id = A.tenant_record_id

        LEFT OUTER JOIN
        (SELECT * FROM organization)C

        ON C.tenant_id = B.id
    </select>

    <select id="selectByOrgIdAndType" parameterType="map" resultType="org.uengine.garuda.killbill.invoice.model.Template">
        SELECT * FROM organization_template
        WHERE organization_id = #{organization_id}
        AND notification_type = #{notification_type}
    </select>

    <select id="selectConfigByOrgId" parameterType="java.lang.String" resultType="org.uengine.garuda.killbill.invoice.model.NotificationConfig">
        SELECT * FROM notification_config
        WHERE organization_id = #{organization_id}
    </select>


</mapper>